
<div class="card ventana-taller">
          <div class="title-card">
            <h4>Taller 2 S.L.</h4>
            <h6>Calle Roca 4 - 46007</h6>
          </div>
          <div class="item item-text-wrap">
          <div class="row">
            <div class="col-90">
                En taller 2 nos dedicamos al automovil desde 1988 y blablabla blabla bla
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col-50">
              <span class="item item-icon-left">
                <i class="icon ion-waterdrop"></i>
                Cambio de aceite 
                <span class="badge badge-light">35€</span>
              </span>
            </div>
            <div class="col-50">
               <span class="item item-icon-left">
                <i class="icon ion-disc"></i>
                    Cambio de neumaticos
                    <span class="badge badge-light">75€</span>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-50">
              <span class="item item-icon-left">
                <i class="icon ion-ios-infinite"></i>
                    Alineación 
                <span class="badge badge-light">50€</span>
              </span>
            </div>
            <div class="col-50">
               <span class="item item-icon-left">
                <i class="icon ion-paintbrush"></i>
                    Cambio Tubo de Escape
                <span class="badge badge-light">100€</span>
              </span>
            </div>
          </div>

      </div>
